{% extends 'base.html' %} {% load static %} {% block content %}
<main class="mainform">
  <nav id="formNav">
    <a href="/" class="CRUDButton">
      <div class="formNavIcon">
        <img
          id="formNavIconImage"
          src="{% static '/css/main_app/closeIcon.svg' %}"
          alt="Close Icon"
        />
      </div>
    </a>
  </nav>
  {% if object %}
  <h1 id="tripTitleDetail">Update Your Comment</h1>
  {% else %}
  <h1 id="tripTitleDetail">Add Your Comment</h1>
  {% endif %}
  <div class="formLineBreaker"></div>
  <form action="" method="post" class="formBlock">
    {% csrf_token %}
    <!-- {{ note_form.as_p }} -->
    <p>
      <label for="id_content" class="dateLabel">Your Comment:</label>
      <textarea name="content" 
       cols="40" 
       rows="10" 
       required="" 
       id="id_content" 
       class="textAreaContent"
       placeholder="e.g. Your thoughts ..."
      ></textarea>
    </p>
    <input type="submit" class="submitButton" value="Update Note"/>
  </form>
</main>
{% endblock content %}
