{% extends 'base.html' %} {% load static %} {% block content %}
<div class="confirmCancelPage">
    <main class="confirmCancelMain">
        <h1 class="confirmCancelHeading">{{ object.title }}</h1>
        <br> <br>
        <h1 class="confirmCancelHeading">Are you sure you want to delete this trip?</h1>
        <form action="" method="POST">
            {% csrf_token %}
            <div class="confirmCancelBlock">
                <input type="submit" class="confirmSubmit" value="Yes - Delete!">
                <a href="{% url 'detail' trip.id %}" class="confirmCancel">Cancel</a>
            </div>
        </form>
    </main>
</div>

{% endblock content %}


