{% extends 'base.html' %} {% load static %} {% block content %}
<img
  id="tripImageDetail"
  src="{% static '/css/main_app/tokyoFireworks.jpeg' %}"
/>
<nav id="navDetail">
  <nav id="formNav">
    <a href="/" class="CRUDButton">
      <div class="formNavIcon">
        <img
          id="formNavIconImage"
          src="{% static '/css/main_app/closeIcon.svg' %}"
          alt="Close Icon"
        />
      </div>
    </a>
  </nav>
</nav>
<main>
  <header id="headerSectionDetail">
    <div id="headerDetail">
      <h1 id="tripTitleDetail">{{ trip.title }}</h1>
      <p id="tripUserNameDetail">{{ trip.user.username }}</p>
    </div>
    <div id="headerCRUDSection">
      <a href="{% url 'trips_update' trip.id %}" class="CRUDButton">
        <div class="navIcon">
          <img
            id="navIconImage"
            src="{% static '/css/main_app/edit.svg' %}"
            alt="Add Icon"
          />
        </div>
      </a>
      <a href="{% url 'trips_delete' trip.id %}" class="CRUDButton">
        <div class="navIcon">
          <img
            id="navIconImage"
            src="{% static '/css/main_app/bin.svg' %}"
            alt="Add Icon"
          />
        </div>
      </a>
    </div>
  </header>
  <div class="sectionBreaker"></div>
  <div class="journalHeader">
    <h3 class="diaryEntryHeading">User Diary Entries</h3>
    <a class="navOtherButton" href="">
      <p class="navOtherButtonText">Manage Trip Diary</p>
      <div class="navIcon">
        <img
          id="navIconImage"
          src="{% static '/css/main_app/edit.svg' %}"
          alt="Add Icon"
        />
      </div>
    </a>
  </div>

  <form
    action="{% url 'add_diary_entry' trip.id %}"
    method="post"
    class="formBlock"
  >
    {% csrf_token %} {{ diary_entry_form.as_p }}
    <input type="submit" class="submitButton" value="Add Diary Entry" />
  </form>

  <div id="diaryContentBlock">
    {% for diary_entry in trip.diary_entry_set.all %}
    <div class="diaryBlock">
      <div id="headerSectionDetail">
        <div id="headerDetail">
          <p class="diaryBlockText">{{ diary_entry.date }}</p>
        </div>
        <div id="headerCRUDSection">
          <a href="{%url 'diary_update' diary_entry.pk%}" class="CRUDButton">
            <div class="navIcon">
              <img
                id="navIconImage"
                src="{% static '/css/main_app/edit.svg' %}"
                alt="Edit"
              />
            </div>
          </a>
          <a href="{%url 'diary_delete' diary_entry.pk%}" class="CRUDButton">
            <div class="navIcon">
              <img
                id="navIconImage"
                src="{% static '/css/main_app/bin.svg' %}"
                alt="Delete"
              />
            </div>
          </a>
        </div>
      </div>
      <p class="diaryBlockText">{{ diary_entry.content }}</p>
    </div>
    {% endfor %}
  </div>

  <div class="sectionBreaker"></div>
  <div class="journalHeader">
    <h3 class="diaryEntryHeading">Other user comments</h3>
  </div>

  <form action="{% url 'add_note' trip.id %}" method="post" class="formBlock">
    {% csrf_token %} {{ note_form.as_p }}
    <input type="submit" class="submitButton" value="Add Note" />
  </form>

  <div id="diaryContentBlock">
    {% for note in trip.note_set.all %}
    <div class="diaryBlock">
      <div id="headerSectionDetail">
        <div id="headerDetail">
          <p class="diaryBlockText">Username</p>
        </div>
        <div id="headerCRUDSection">
          <a href="{% url 'note_update' note.pk %}" class="CRUDButton">
            <div class="navIcon">
              <img
                id="navIconImage"
                src="{% static '/css/main_app/edit.svg' %}"
                alt="Edit Note"
              />
            </div>
          </a>
          <a href="{% url 'note_delete' note.pk %}" class="CRUDButton">
            <div class="navIcon">
              <img
                id="navIconImage"
                src="{% static '/css/main_app/bin.svg' %}"
                alt="Delete Note"
              />
            </div>
          </a>
        </div>
      </div>
      <p class="diaryBlockText">{{ note.content }}</p>
    </div>
    {% endfor %}
  </div>
</main>

<script>
  const dateEl = document.getElementById('id_date');
  M.Datepicker.init(dateEl, {
    format: 'yyyy-mm-dd',
    defaultDate: new Date(),
    setDefaultDate: true,
    autoClose: true,
  });
</script>

{% endblock content %}
