{% extends 'base.html' %} {% load static %} {% block content %}
<img
  id="tripImageDetail"
  src="{% static '/css/main_app/tokyoFireworks.jpeg' %}"
/>
<nav id="navDetail">
  <nav id="formNav">
    <a href="/" class="CRUDButton">
      <div class="formNavIcon">
        <img
          id="formNavIconImage"
          src="{% static '/css/main_app/closeIcon.svg' %}"
          alt="Close Icon"
        />
      </div>
    </a>
  </nav>
</nav>
<main id="mainDetail">
  <header id="headerSectionDetail">
    <div id="headerDetail">
      <h1 id="tripTitleDetail">{{ trip.title }}</h1>
      <p id="tripTravelDetail">{{ trip.from_location }} - {{ trip.to_location}}</p>
      <p id="tripUserNameDetail">{{ trip.user.username }}</p>
    </div>
    {% if user.id is trip.user_id %}
    <div id="headerCRUDSection">
      <a href="{% url 'trips_update' trip.id %}" class="CRUDButton">
        <div class="navIcon">
          <img
            id="navIconImage"
            src="{% static '/css/main_app/edit.svg' %}"
            alt="Add Icon"
          />
        </div>
      </a>
      <a href="{% url 'trips_delete' trip.id %}" class="CRUDButton">
        <div class="navIcon">
          <img
            id="navIconImage"
            src="{% static '/css/main_app/bin.svg' %}"
            alt="Add Icon"
          />
        </div>
      </a>
    </div>
    {% else %}
    {% endif %}
  </header>
  <div class="sectionBreaker"></div>
  <div class="journalHeader">
    <h3 class="diaryEntryHeading">User Diary Entries</h3>
    <a class="navOtherButton" href="">
      <p class="navOtherButtonText">Manage Trip Diary</p>
      <div class="navIcon">
        <img
          id="navIconImage"
          src="{% static '/css/main_app/edit.svg' %}"
          alt="Add Icon"
        />
      </div>
    </a>
  </div>
  {% if user.id is trip.user_id %}
  <form
    action="{% url 'add_diary_entry' trip.id %}"
    method="post"
    class="formBlock"
  >
    {% csrf_token %}  <!-- {{ diary_entry_form.as_p }} -->
    <p>
      <label for="id_date" class="dateLabel">Date:</label>
      <div class="modal datepicker-modal" id="modal-42246662-a16e-376e-2ac0-806364b2fa58" tabindex="0">
        <div class="modal-content datepicker-container">
          <div class="datepicker-date-display">
            <span class="year-text">2021</span>
            <span class="date-text">Thu, Jul 15</span>
          </div>
          <div class="datepicker-calendar-container">
            <div class="datepicker-calendar">
            </div>
            <div class="datepicker-footer">
              <button class="btn-flat datepicker-clear waves-effect" style="visibility: hidden;" type="button">
              </button>
              <div class="confirmation-btns">
                <button class="btn-flat datepicker-cancel waves-effect" type="button">Cancel</button>
                <button class="btn-flat datepicker-done waves-effect" type="button">Ok</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <input type="text" name="date" required="" id="id_date">
    </p>
    <p>
      <label for="id_content" class="dateLabel">Content:</label>
      <textarea name="content"
       cols="40"
       rows="10" 
       required="" 
       id="id_content" 
       class="textAreaContent" 
       placeholder="e.g. Your thoughts ..."
       ></textarea>
    </p>

    <input type="submit" class="noteSubmitButton" value="Add Diary Entry" />
  </form>
  {% else %}
  {% endif %}

  <div id="diaryContentBlock">
    {% for diary_entry in trip.diary_entry_set.all %}
    <div class="diaryBlock">
      <div id="noteSectionDetail">
        <div id="headerDetail">
          <p class="diaryBlockText">{{ diary_entry.date }}</p>
        </div>
        {% if user.id is trip.user_id %}
        <div id="headerCRUDSection">
          <a href="{%url 'diary_update' diary_entry.pk%}" class="CRUDButton">
            <div class="navIcon">
              <img
                id="navIconImage"
                src="{% static '/css/main_app/edit.svg' %}"
                alt="Edit"
              />
            </div>
          </a>
          <a href="{%url 'diary_delete' diary_entry.pk%}" class="CRUDButton">
            <div class="navIcon">
              <img
                id="navIconImage"
                src="{% static '/css/main_app/bin.svg' %}"
                alt="Delete"
              />
            </div>
          </a>
        </div>
        {% else %}
        {% endif %}
      </div>
      <p class="diaryBlockText">{{ diary_entry.content }}</p>
    </div>
    {% endfor %}
  </div>

  <div class="sectionBreaker"></div>
  <div class="journalHeader">
    <h3 class="diaryEntryHeading">Other user comments</h3>
  </div>


  <form action="{% url 'add_note' trip.id %}" method="post" class="formBlock">
    {% csrf_token %} <!-- {{ note_form.as_p }} -->
    <p>
      <label for="id_content" class="dateLabel">Your Comment:</label> 
      <textarea name="content" 
       cols="40" 
       rows="10" 
       required="" 
       id="id_content" 
       class="textAreaContent" 
       placeholder="e.g. Your thoughts ..." 
       spellcheck="false"
       ></textarea>
    </p>
    <input type="submit" class="noteSubmitButton" value="Add Comment" />
  </form>


  <div id="diaryContentBlock">
    {% for note in trip.note_set.all %}
    <div class="diaryBlock">
      <div id="noteSectionDetail">
        <div id="headerDetail">
          <p class="diaryBlockText">{{ note.user.username }}</p>
        </div>
        <div id="headerCRUDSection">
          {% if user.id is note.user_id %}
          <a href="{% url 'note_update' note.pk %}" class="CRUDButton">
            <div class="navIcon">
              <img
                id="navIconImage"
                src="{% static '/css/main_app/edit.svg' %}"
                alt="Edit Note"
              />
            </div>
          </a>
          <a href="{% url 'note_delete' note.pk %}" class="CRUDButton">
            <div class="navIcon">
              <img
                id="navIconImage"
                src="{% static '/css/main_app/bin.svg' %}"
                alt="Delete Note"
              />
            </div>
          </a>
          {% else %}
          {% endif %}
        </div>
      </div>
      <p class="diaryBlockText">{{ note.content }}</p>
    </div>
    {% endfor %}
  </div>
</main>

<script>
  const dateEl = document.getElementById('id_date');
  M.Datepicker.init(dateEl, {
    format: 'yyyy-mm-dd',
    defaultDate: new Date(),
    setDefaultDate: true,
    autoClose: true,
  });
</script>

{% endblock content %}
