{% load static %}
<header id="homeHeader">
  <div id="navHomeSection">
    <a id="navHomeButton" href="/">Tabby</a>
  </div>
  <a href="accounts/signup">Sign Up</a>
  <div id="navOtherSection">
    {% if user.is_authenticated %}
    <div class="navOtherBlock">
      <a class="navOtherButton" href="{% url 'logout' %}">
        <p class="navOtherButtonText">Logout</p>
        <div class="navIcon">
          <img
            id="navIconImage"
            src="{% static '/css/main_app/exitIcon.svg' %}"
            alt="logout Icon"
          />
        </div>
      </a>
    </div>
    {% else %}
    <div class="navOtherBlock">
      <a class="navOtherButton" href="{% url 'login' %}">
        <p class="navOtherButtonText">Login</p>
        <div class="navIcon">
          <img
            id="navIconImage"
            src="{% static '/css/main_app/exitIcon.svg' %}"
            alt="login Icon"
          />
        </div>
      </a>
    </div>
    {% endif %}
    <div class="navOtherBlock">
      <a class="navOtherButton" href="{% url 'trips_create' %}">
        <p class="navOtherButtonText">Add Trip</p>
        <div class="navIcon">
          <img
            id="navIconImage"
            src="{% static '/css/main_app/Group.svg' %}"
            alt="Add Icon"
          />
        </div>
      </a>
    </div>
  </div>
</header>
